.Container {
  width: 630px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  text-transform: uppercase;
  color: blue;
  background: linear-gradient(lightblue, lightyellow);
  padding: 15px;
}
